<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%=label_tag :school %>
    <%= select_tag "school", options_from_collection_for_select(@schools, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label "Mail(なるべく学校のメールを使ってください)" %>
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label "Tel(Option)" %>
    <%= f.telephone_field :tel %>
  </div>
  <div class="actions">
    <%= f.submit "設定", :class => "btn" %>
  </div>
<% end %>
<div class="">
  <p>出品者に対して:TelまたはMailは自分の商品の注文者しか見えません</p>
  <p>注文者に対して:自分が注文した商品の所有者が自分に商品を売るときしか見えません</p>
  <p>自分のTelとMailはいつでも消去することができます</p>
  <p>....操....</p>
</div>
