<p id="notice"><%= notice %></p>

<div class="hero-unit">
<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>School Mail:</b>
  <%= @profile.mail %>
</p>

<p>
  <b>Tel:</b>
  <%= @profile.tel %>
</p>

</div>

<%= button_to 'Edit', edit_profile_path(@profile), :class => 'btn', :method => 'get' %>

