<p id="notice"><%= notice %></p>

<div class="well">
<p>
  <b>名前:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Mail:</b>
  <%= @profile.mail %>
</p>

<p>
  <b>Tel:</b>
  <%= @profile.tel %>
</p>

</div>

<%= button_to 'Edit', edit_profile_path(@profile), :class => 'btn', :method => 'get' %>

