<h1>Listing schools</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Region</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schools.each do |school| %>
  <tr>
    <td><%= school.name %></td>
    <td><%= school.city %></td>
    <td><%= school.region %></td>
    <td><%= link_to 'Show', [:admins, school] %></td>
    <td><%= link_to 'Edit', edit_admins_school_path(school) %></td>
    <td><%= link_to 'Destroy', [:admins, school], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New School', new_admins_school_path %>
