<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>City:</b>
  <%= @school.city %>
</p>

<p>
  <b>Region:</b>
  <%= @school.region %>
</p>


<%= link_to 'Edit', edit_admins_school_path(@school) %> |
<%= link_to 'Back', admins_schools_path %>
