<h1>Listing populars</h1>

<table>
  <tr>
    <th>Commodity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @populars.each do |popular| %>
  <tr>
    <td><%= popular.commodity_id %></td>
    <td><%= link_to 'Show', popular %></td>
    <td><%= link_to 'Edit', edit_popular_path(popular) %></td>
    <td><%= link_to 'Destroy', popular, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Popular', new_popular_path %>
