<p id="notice"><%= notice %></p>

<div class="hero-unit">
<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Nickname:</b>
  <%= @profile.nickname %>
</p>

<p>
  <b>Tel:</b>
  <%= @profile.tel %>
</p>

<p>
  <b>Mail:</b>
  <%= @profile.mail %>
</p>
</div>

<%= button_to 'Edit', edit_admins_profile_path(@profile), :class => 'btn', :method => 'get' %>

