<h2>Search</h2>

<p>
<%= form_tag("search") do %>
  <%= search_field_tag "keyword" %>
  <%= submit_tag "search" %>
<% end %>
</p>
<p>
<%  if @result %>
  <% @result.each do |commodity| %>
    <p>name:<%= commodity.name %></p>
    <p>descption:<%= commodity.desc %></p>
  <% end %>
<% end %>
</p>

<h2>other</h2>
<p><%= link_to 'Commodity lists', commodities_path %></p>
<p><%= link_to 'Category lists', categories_path %></p>
<p><%= link_to 'Order lists', orders_path %></p>
