<div class="row-fluid">
  <div class="well">
    <h4>人気商品</h4>
    <table class="table table-striped">
      <thead>
	<tr>
          <th>Name</th>
          <th>Descript</th>
          <th>Price</th>
          <th>Image</th>
	</tr>
      </thead>
      <% @populars.each do |popular| %>
	<tr>
	  <td><%= link_to popular.commodity.name, popular.commodity %></td>
	  <td><%= popular.commodity.desc %></td>
	  <td><%= popular.commodity.price %></td>
	  <td><%= image_tag(popular.commodity.photo.thumb.url) if popular.commodity.photo? %></td>
	</tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="well">
    <h4>新しい商品</h4>
    <table class="table table-striped">
      <thead>
	<tr>
          <th>Name</th>
          <th>Descript</th>
          <th>Price</th>
          <th>Image</th>
	</tr>
      </thead>
      <% @new.each do |commodity| %>
	<tr>
	  <td><%= link_to commodity.name, commodity %></td>
	  <td><%= commodity.desc %></td>
	  <td><%= commodity.price %></td>
	  <td><%= image_tag(commodity.photo.thumb.url) if commodity.photo? %></td>
	</tr>
      <% end %>
    </table>
  </div>
</div>
