<table>
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Price</th>
    <th>state</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.commodity.name %></td>
    <td><%= order.name %></td>
    <td><%= order.price %></td>
    <td><%= if order.state then 'ok' else 'wait' end %></td>
    <!--<td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>-->
    <td><%= link_to 'cancel', order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

