<div class="row-fluid">
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Price</th>
    <th>Time</th>
    <th>State</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= link_to order.commodity.name, order.commodity%></td>
    <td><%= order.name %></td>
    <td><%= order.price %></td>
    <td><%= order.created_at.strftime("%Y.%m.%d %H:%M") %></td>
    <td><%= if order.state then '交易完了' else '交易中' end %></td>
    <td><%= link_to 'cancel', order, confirm: 'Are you sure?', method: :delete if !order.state %></td>
  </tr>
<% end %>
</table>
<%= paginate(@orders) %>
</div>
