<div class="row-fluid">
<table class="table table-bordered table-striped">
  <tr>
    <th>名前</th>
    <th>ID</th>
    <th>価格</th>
    <th>購入時間</th>
    <th>状態</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= if order.commodity then link_to order.commodity.name, order.commodity else '商品は存在しません' end %></td>
    <td><%= order.name %></td>
    <td><%= order.price %></td>
    <td><%= order.created_at.strftime("%Y.%m.%d %H:%M") %></td>
    <td><%= if order.state then '交易完了' else '交易中' end %></td>
    <td><%= link_to 'cancel', order, confirm: 'Are you sure?', method: :delete if !order.state %></td>
  </tr>
<% end %>
</table>
<%= paginate(@orders) %>
</div>
