<%= form_for(@commodity) do |f| %>
  <% if @commodity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commodity.errors.count, "error") %> prohibited this commodity from being saved:</h2>

      <ul>
      <% @commodity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :num %>
    <%= f.number_field :num %>
  </div>
  <div class="field">
    <%= f.label :place %>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :desc %>
    <%= f.text_area :desc, :class => 'input-xlarge', :rows => 3 %>
  </div>
  <div class="field">
    <%=label_tag :Category %>
    <%= select_tag "category", options_from_collection_for_select(all_categories, :id, :name), :selected => @category.id %>
  </div>
  <div class="field">
    <%= label_tag :image %>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
