<div class="row-fluid">
  <div class="well">
    <h3>販売中</h3>
    <table class="table table-striped">
      <tr>
	<th>Name</th>
	<th>Num</th>
	<th>Price</th>
	<th>Buyer</th>
	<th></th>
	<th></th>
      </tr>

      <% @selling.each do |commodity| %>
	<tr>
	  <td><%= link_to commodity.name, commodity %></td>
	  <td><%= commodity.num %></td>
	  <td><%= commodity.price %></td>
	  <td><%= commodity.orders.count %></td>
	  <td><%= link_to 'Edit', edit_commodity_path(commodity) %></td>
	  <td><%= link_to 'Destroy', commodity, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
      <% end %>
    </table>
    <%= paginate @selling %>
  </div>
</div>

<div class="row-fluid">
  <div class="well">
    <h3>販売終了</h3>
    <table class="table table-striped">
      <tr>
	<th>Name</th>
	<th>Num</th>
	<th>Price</th>
	<th>Buyer</th>
	<th></th>
	<th></th>
      </tr>

      <% @selled.each do |commodity| %>
	<tr>
	  <td><%= link_to commodity.name, commodity %></td>
	  <td><%= commodity.num %></td>
	  <td><%= commodity.price %></td>
	  <td><%= commodity.orders.count %></td>
	  <td><%= link_to 'Edit', edit_commodity_path(commodity) %></td>
	  <td><%= link_to 'Destroy', commodity, confirm: 'Are you sure?', method: :delete %></td>
	</tr>
      <% end %>
    </table>
    <%= paginate @selled %>
    <%= link_to 'New Commodity', new_commodity_path %>
  </div>
</div>
