<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<% i = whoami? current_user, @commodity %>

<% title "CampusBox - #{@commodity.name}" %>

<div class="commodity">
  <div class="alert alert-info">
    <%= @commodity.name %>
  </div>
  <%= link_to '同じ商品を出品する', new_commodity_path+"?id=#{@commodity.id}", :class => "btn btn-info btn-mini" %>
  <p>
    <div class="fb-like" data-send="true" data-layout="button_count" data-width="150" data-show-faces="true"></div>
    <div id="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
    </div>
  </p>
</div>

<div class="commodity">
  <div class="alert alert-info">
    商品詳細
  </div>
  <p><b>出品時間：</b><%= @commodity.created_at.strftime("%Y.%m.%d %H:%M") %></p>
  <p><b>学校：</b><%= @commodity.user.school.name %></p>
  <p><b>出品者：</b><%= @commodity.user.profile.name %></p>
  <p><b>数量：</b><%= @commodity.num %></p>
  <p><b>価格：</b><%= @commodity.price %>円</p>
  <p><b>画像：</b><%= image_tag(@commodity.photo.url) if @commodity.photo? %></p>
  <p><b>詳細情報：</b><%= @commodity.desc %></p>
  <p><b>取引場所：</b><%= @commodity.place %></p>
</div>

<div class="commodity">
  <div class="alert alert-info">
    連絡先
  </div>
  <div id="order">
    <% if i == 'buyer' or i == 'seller' %>
      <p><b>Email:</b><%= @commodity.user.profile.mail %></p>
      <p><b>電話番号:</b><%= @commodity.user.profile.tel %></p>
      <% if i == 'buyer' %>
        <p>出品者に連絡してくだい</p>
      <% end %>
    <% else %>
      <p>出品者と連絡先を交換した後に見られます</p>
    <% end %>

    <% if i != 'seller' and i != 'buyer' %>
      <% if user_signed_in? %>
        <%= render 'orders/form', :order => @order, :re => true %>
      <% else %>
        <%= render 'orders/form', :order => @order, :re => false %>
      <% end %>
    <% end %>
  </div>
</div>

<% if i == 'seller' %>
  <%= render 'seller' %>
<% end %>

<%= render 'commentsofcommodity' %>

<%= render 'comments/form' %>
<% if i == 'seller' %>
  <%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<% end %>
<%= link_to 'Back', commodities_path %>
