<p id="notice"><%= notice %></p>

<% i = whoami? current_user, @commodity %>

<p>i am <%= i %></p>

<p>
  <b>Name:</b>
  <%= @commodity.name %>
</p>

<p>
  <b>Num:</b>
  <%= @commodity.num %>
</p>

<p>
  <b>Desc:</b>
  <%= @commodity.desc %>
</p>

<p>
  <b>Price:</b>
  <%= @commodity.price %>
</p>

<% if i == 'seller' %>
  <%= render 'seller' %>
<% end %>

<h2>comments</h2>
<% @commodity.comments.each do |comment| %>
  <%= comment.user.email %> said:
  <p>
  <%= comment.content %>
  </p>
<% end %>

<%= render 'comments/form' %>

<% if i != 'seller' and i != 'buyer' %>
  <%= render 'orders/form', :order => @order%>
<% end %>

<%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<%= link_to 'Back', commodities_path %>
