<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<% i = whoami? current_user, @commodity %>

<% title "CampusBox - #{@commodity.name}" %>

<div class="commodity">
  <div class="alert alert-info">
    <%= @commodity.name %>
  </div>
  <%= link_to '同じ商品を出品する', new_commodity_path+"?id=#{@commodity.id}", :class => "btn btn-info btn-mini" %>
  <p>
    <div class="fb-like" data-send="true" data-layout="button_count" data-width="150" data-show-faces="true"></div>
    <div id="twitter">
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
    </div>
  </p>
</div>

<div class="commodity">
  <div class="alert alert-info">
    商品詳細
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>出品時間：</td>
        <td><%= @commodity.created_at.strftime("%Y.%m.%d %H:%M") %></td>
      </tr>
      <tr>
        <td>学校：</td>
        <td><%= @commodity.user.school.name %></td>
      </tr>
      <tr>
        <td>出品者：</td>
        <td><%= @commodity.user.profile.name %></td>
      </tr>
      <tr>
        <td>数量：</td>
        <td><%= @commodity.num %></td>
      </tr>
      <tr>
        <td>価格：</td>
        <td><%= @commodity.price %>円</td>
      </tr>
      <tr>
        <td>画像：</td>
        <td><%= image_tag(@commodity.photo.url) if @commodity.photo? %></td>
      </tr>
      <tr>
        <td>詳細情報：</td>
        <td><%= @commodity.desc %></td>
      </tr>
      <tr>
        <td>取引場所：</td>
        <td><%= @commodity.place %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="commodity">
  <div class="alert alert-info">
    連絡先
  </div>
  <div id="order">
    <% if i == 'buyer' or i == 'seller' %>
      <p>Mail:<%= @commodity.user.profile.mail %></p>
      <p>Tel:<%= @commodity.user.profile.tel %></p>
      <% if i == 'buyer' %>
        <div class="alert  alert-success">出品者に連絡してくだい</div>
      <% end %>
    <% else %>
      <p>注文者のみ見られます</p>
    <% end %>

    <% if i != 'seller' and i != 'buyer' %>
      <% if user_signed_in? %>
        <%= render 'orders/form', :order => @order, :re => true %>
      <% else %>
        <%= render 'orders/form', :order => @order, :re => false %>
      <% end %>
    <% end %>
  </div>
</div>

<% if i == 'seller' %>
  <%= render 'seller' %>
<% end %>

<%= render 'commentsofcommodity' %>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<%= link_to 'Back', commodities_path %>
