<p id="notice"><%= notice %></p>

<% i = whoami? current_user, @commodity %>

<p>i am <%= i %></p>

<p>
  <b>Name:</b>
  <%= @commodity.name %>
</p>

<p>
  <b>Num:</b>
  <%= @commodity.num %>
</p>

<p>
  <b>Desc:</b>
  <%= @commodity.desc %>
</p>

<p>
  <b>Pic:</b><br />
  <%= image_tag(@commodity.photo.url) if @commodity.photo? %><br />
  <%= image_tag(@commodity.photo.thumb.url) if @commodity.photo? %>
</p>

<p>
  <b>Price:</b>
  <%= @commodity.price %>
</p>

<% if i == 'seller' %>
  <%= render 'seller' %>
<% end %>

<h2>comments</h2>
<% @commodity.comments.each do |comment| %>
  <% current_user_id = -1 %>
  <% current_user_id = current_user.id if user_signed_in? %>
  <% if comment.state == true or i == 'seller' or comment.replyto == current_user_id or comment.user.id == current_user_id %>
    <%= comment.user.email %> said:
    <p>
      <%= comment.content %>
    </p>
    <p>
      <button onclick="document.getElementById('comment_content').value='Reply <%=comment.user.email %>: '">Reply</button>
    </p>
  <% end %>
<% end %>


<%= render 'comments/form' %>

<% if i != 'seller' and i != 'buyer' %>
  <%= render 'orders/form', :order => @order%>
<% end %>

<%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<%= link_to 'Back', commodities_path %>
