<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @category.name %>
</p>

<p>name, description, price</p>

<% @commodities.each do |commodity| %>
  <p>
    <%= link_to commodity.name, commodity %>
    <%= commodity.desc %>
    <%= commodity.price %>
  </p>
<% end %>


<%= link_to 'Back', categories_path %>
