<div  class="myPage">
  <div class="title">
    <h4>New Commodities</h4>
  </div>
  <table>
    <% i = 0 %>
    <% @new_commodities.each do |commodity| %>
      <% if i==0 || i==4  %><tr><% end %>
      <td>
	<%= if commodity.photo? then link_to image_tag(commodity.photo.thumb.url), commodity else link_to image_tag("130.jpg"), commodity end %>
	  <div class="des"><%= link_to commodity.name, commodity %></div>
      </td>
      <% if i==3 || i==7 %></tr><% end %>
      <% i+=1 %>
    <% end %>
  </table>
  <div class="more">
    <%= link_to('more', :commodities) %>
  </div>
</div>

<div  class="myPage">
  <div class="title">
    <h4>New Orders</h4>
  </div>

  <table>
    <tr>
      <% @new_orders.each do |order| %>
	<td>
	  <%= if order.commodity.photo? then link_to image_tag(order.commodity.photo.thumb.url), order.commodity else link_to image_tag("130.jpg"), order.commodity end %>
	    <div class="des"><%= link_to order.commodity.name, order.commodity %></div>
	</td>
      <% end %>
    </tr>
  </table>
  <div class="more">
    <%= link_to('more', :orders) %>
  </div>
</div>
