<div class="row-fluid">
  <div class="well">
    <h4>お気に入り商品 new</h4>

    <table class="table table-striped">
      <thead>
	<tr>
          <th>Name</th>
          <th>Price</th>
          <th></th>
	</tr>
      </thead>
      <% @new_orders.each do |order| %>
	<tr>
	  <td><%= link_to order.commodity.name, order.commodity %></td>
	  <td><%= order.commodity.price %></td>
	  <td><a href="commodities/<%= order.commodity.id%>" rel="popover" title="画像" data-content="<img src='<%= order.commodity.photo.thumb.url %>' width='100%' /><%= order.commodity.desc %>">画像</a></td>
	</tr>
      <% end %>
    </table>
    <div class="pull-right">
      <%= link_to('more', :orders, :class => 'btn') %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="well">
    <h4>新しい出品</h4>
    <table class="table table-striped">
      <thead>
	<tr>
          <th>Name</th>
          <th>Price</th>
	  <th>Buyer</th>
          <th></th>
	</tr>
      </thead>
      <% @new_commodities.each do |commodity| %>
	<tr>
	  <td><%= link_to commodity.name, commodity %></td>
	  <td><%= commodity.price %></td>
	  <td><%= commodity.orders.count %></td>
	  <td><a href="commodities/<%= commodity.id%>" rel="popover" title="画像" data-content="<img src='<%= commodity.photo.thumb.url %>' width='100%'><%= commodity.desc %>">画像</a></td>
	</tr>
      <% end %>
    </table>
    <div class="pull-right">
      <%= link_to('more', :commodities, :class => 'btn') %>
    </div>
  </div>
</div>


