<!DOCTYPE html>
<html>
  <head>
    <title>CampusBox</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
	<!-- キーワード -->
	<h1>*** キーワード ***</h1>
	<!-- ページの概要 -->
	<p class="description">*** ページの概要 ***</p>
	<!-- 企業名｜ショップ名｜タイトル -->
	<p class="logo"><a href="index.html">CampusBox</a></p>
	<!-- ナビゲーション -->
	<ul class="header-navi">
	  <li><a href="index.html">Home</a></li>
	  <li><a href="#">*** リンク ***</a></li>
	  <% if user_signed_in? %>
	    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
	  <% end %>

	</ul>
      </div>
      <!-- // header end -->

      <div id="contents">
	<!-- コンテンツここから -->

	<pclass="notice"><%=notice%></p><pclass="alert"><%=alert%></p>

<%= yield %>


<!-- コンテンツここまで -->
</div><!-- // contents end -->

<!-- ↓削除不可 -->
<p id="cds">Designed by <a href="http://www.css-designsample.com/">CSS.Design Sample</a></p>
<div id="footer">
  <!-- コピーライト / 著作権表示 -->
  <p>Copyright &copy; *** 企業名｜ショップ名｜タイトルなど ***. All Rights Reserved.</p>
</div>
</div>
</body>
</html>
