<!DOCTYPE html>
<html>
  <head>
    <title>CampusBox</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <div id="wrapper">
      <div id="header">
	<p class="logo"><%= link_to image_tag('Logo.png', { :border => '0', :alt => 'CampusBox'}), "/" %></p>
	<ul class="header-navi">
	  <% if user_signed_in? %>
	    <%= "#{current_user.profile.name}様 " %>
	    <%= link_to('My Profile', current_user.profile) %>
	    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	  <% end %>
	  <% if !user_signed_in? %>
	    <%= link_to(image_tag('TWlogin.png', { :border => '0', :alt => 'login with twitter'}), omniauth_authorize_path(:user, :twitter)) %>
	    <%= link_to(image_tag('FBlogin.png', { :border => '0', :alt => 'login with facebook'}), omniauth_authorize_path(:user, :facebook)) %>
	    <%= link_to('if you have not face or twitter', new_user_session_path) %>
	  <% end %>
	</ul>
	<ul id="globalnavi">
	  <li id="category01" class="menu" onmouseover="this.className='menuOn'" onmouseout="this.className='menu'">
	    <a href="#">I am Buyer</a>
	    <ul>
	      <li><%= link_to 'Search', :search %></li>
	      <li><%= link_to('My order', :orders) %></li>
	    </ul>
	  </li>
	  <li id="category01" class="menu" onmouseover="this.className='menuOn'" onmouseout="this.className='menu'">
	    <a href="#">I am Seller</a>
	    <ul>
	      <li><%= link_to('Sell', :new_commodity) %></li>
	      <li><%= link_to('My Goods', :commodities) %></li>
	    </ul>
	  </li>
	</ul>
      </div>
      <div id="leftSideBar" align="center" >
	<div class="sideBarContent">
	  <p class="side-title">Category</p>
	  <% all_categories.each do |category| %>
	    <li><%= link_to(category.name, category ) %></li>
	  <% end %>
	</div>
      </div>

      <div id="content" >

	<%= yield %>

      </div>

      <div  id="rightSideBar" align="center"  >right side bar</div>

      <div id="footer">
	<p>Copyright &copy; *** 企業名｜ショップ名｜タイトルなど ***. All Rights Reserved.</p>
      </div>
    </div>
  </body>
</html>
